<!DOCTYPE html>
<html>
	<head>
		<title>Student Details</title>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link href='static/bootsrtap/css/bootstrap.min.css' rel="stylesheet" media='screen' />
    		<link href='static/bootsrtap/css/bootstrap-responsive.min.css' rel="stylesheet" />
	</head>
	<body>
		<div class='container'>
		{%block content %}{% endblock %}
		</div>
	</body>
</html>

