{% extends "base.html" %}
{% block content %}

<form action=" " method="post">
<dl>
	<dt>Name to Delete :
	<dd><input type=text name=delete>
	<dd><input type=submit name=delete1 value=Delete>
</dl>
</form>

{% endblock %}

</html>

