{% extends "base.html" %}
{% block content %}
<form action=" " method="post">
	<dl>
		<dt>No :
		<dd> <input type=text name=no>
		<dt>Name :
		<dd><input type=text name=name>
		<dt>Age :
		<dd><input type=text name=age>
		<dd><input type=submit name=submit value=Submit>
	</dl>
	</form>
{% endblock %}
</body>

</html>
