{% extends "base.html" %}
{% block content %}

<form action=" " method="post">
<dl>
	<dt>Name to Search : 
	<dd><input type=text name=search>
	<dd><input type=submit name=search1 value=Search>
</dl>
</form>
{% endblock %}

</html>

