{% extends "base.html" %}
{% block content %}
	<table border="1" style="width:100%">
		<tr>
			<th>No</th>
			<th>Name</th>
			<th>Age</th>
		</tr>
		{% for row in rows %}
		<tr>
			{% for ro in row %}
				<td>{{ ro }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
{% endblock %}
</body>
</html>


